/* ------------------------------------ */
/*  Site : CFCPI                        */
/*  URL : www.cfcpi.fr                  */
/*  Auteur : christophe le drean        */
/*  Date :                              */
/*  Version : 2                         */
/* ------------------------------------ */

/* ------------------------------------ */
/*  Table des matières                  */
/* ------------------------------------ */
/*  - Reset
    - Réglage des float
    - Maquette des pages
    - Liens (réglages général)
    - Typo générale
    - Entete
    - Menus
    - Formulaires
    - Habillage : ombres

*/

/* ------------------------------------ */
/*  Couleurs	 		                */
/* ------------------------------------ */
/*	rouge brique (liens...) : #b80000
	
*/

/* ------------------------------------ */
/*  Reset                               */
/* ------------------------------------ */
/*  http://meyerweb.com/eric/thoughts/
    2007/05/01/reset-reloaded/          */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0;
	border: 0; outline: 0;
	font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit;
	vertical-align: baseline; }

/* remember to define focus styles! */
:focus {  }

body {
	color: black;
	background: white; }

ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0; }

caption, th, td {
	text-align: left;
	font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; }

blockquote, q { quotes: "" ""; }

/* ------------------------------------ */
/*  Réglage des float                   */
/* ------------------------------------ */
/*	voir : 
	http://www.positioniseverything.net/easyclearing.html 
	+ modif http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack
*/

.clearfix:after { visibility: hidden; clear: both; display: block; height: 0; font-size: 0; content: " "; }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* ------------------------------------ */
/*  Maquette des pages					*/
/* ------------------------------------ */

/* grille */
/*	1 : 60		7 : 540		*/
/*	2 : 140		8 : 620		*/
/*	3 : 220		9 : 700		*/
/*	4 : 300		10 : 780	*/
/*	5 : 380		11 : 860	*/
/*	6 : 460		12 : 940	*/

.colonne { float: left; margin-right: 20px; }

/* règles communes */

body { 
	background: #000 url(../img/body-background.jpg) repeat-x left top;
	color: #000;
	margin: 0; }

	#page { 
		color: #fff; background-color:#2c0046;
		position: relative;
		overflow: visible;
		margin: 54px auto; padding-bottom: 20px; 
		width: 960px;
		border-radius: 8px 0 0 8px;
		-webkit-border-top-left-radius: 8px; 
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius: 8px 0 0 8px; }
	
		#entete { padding: 18px 0 0 20px; }
		
		#conteneur {
			color: #000; background-color: #fff;
            margin-left: 60px; padding-top: 34px; 
            position: relative;
            width: 980px;
            border-radius: 0 8px 8px 0;
            -webkit-border-top-right-radius: 8px; 
            -webkit-border-bottom-right-radius: 8px; 
            -moz-border-radius: 0 8px 8px 0; }
            
            #contenu { 
            	margin-right: 20px;
            	float: right;
            	width: 780px; }
            	
            	.titre { 
            		float: right;
            		width: 780px; }
            
            	.contenu_principal { width: 540px; }
            	
            	#hierarchie { xclear: both; }
            	
            	#extra { 
            		display: inline; float: right;
            		width: 220px; }
            
            #navigation { 
            	float: left;
            	width: 160px; }

/* règles spécifiques */
.page_article .contenu_principal, .page_rubrique .contenu_principal {
	float: left; }

/* ------------------------------------ */
/*  Liens (réglages général)			*/
/* ------------------------------------ */
a { color: #b80000; text-decoration: none; }
a:visited { color: #b80000; }
a:hover, a.spip_out:hover, a.spip_glossaire:hover { color: #000; text-decoration: underline; outline: none; }
a:active, a:focus { position: relative; top: 1px; outline: thin dotted; }
a:active { outline: none; }


a.spip_out, a.spip_glossaire {
	background: url(../img/spip_out.png) no-repeat right center;
	color: #ba0003;
	padding-right: 12px; }

/* ------------------------------------ */
/*  Typo								*/
/* ------------------------------------ */

/* générique */
html { font-size: 100.01%; /* pour IE */ }
body { font: 12px/18px Georgia, "Times New Roman", Times, serif; color: #3e0000; }

/* Titraille */
h1,h2,h3,h4,h5,h6, #nav ul li, #navigation, .surtitre, .soustitre  { font-family: "Museo Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal; }
h1 { font-size: 30px; line-height: 36px; margin: 0 0 0; }
h2 { font-size: 24px; line-height: 18px; margin: 36px 0 18px; }
h3 { font-size: 20px; line-height: 18px; margin: 36px 0 18px; }
h4 { font-size: 18px; line-height: 18px; margin: 0 0 18px; }
h5 { font-size: 14px; line-height: 18px; margin: 0 0 0; }
h6 { font-size: 13px; line-height: 16px; margin: 0 0 0; }

.a-cote h3 { font-size: 14px; line-height: 1.38em; }

/* texte  */
p { margin-bottom: 18px; }
blockquote, blockquote.spip {
	color: rgb(120,120,120); 
	border: 0;
	margin: 0; padding: 0 18px 0; }
strong { font-weight: bold; }
em, cite, i, dfn { font-style: italic; }
abbr, acronym { border-bottom: 1px dotted; cursor: help; }
small { font-size: 11px; }
del { text-decoration: line-through; }
ins {
	color: #7e001a; text-decoration: none; 
	border: 1px dotted #7e001a; 
	padding: 0 2px; }
sup { vertical-align: super; }
sub { vertical-align: sub; }
hr, hr.spip {
	background-color: #a1001a;
	border: none;
	height: 2px; width: 60%;
	margin: 18px auto 16px; }
code, kbd, samp, pre, tt, var, .spip_code, .spip_cadre { color: #600099; font-family: monospace; }
.spip_cadre { background-color: #fafafa; border: 1px solid #eaeaea; padding: 2px; }

/* listes */
ul.spip, ol.spip { margin-bottom: 18px; padding-left: 2em; }
ul.spip ul, ol.spip ol { margin-bottom: 0; }
ul.spip li { list-style-type: disc; }
ul.spip li li { list-style-type: circle; }

/* tableaux */
table.spip {
	font: normal 12px/18px "Lucida Grande","Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 0;
	width: 540px; }
	table.spip caption {
		text-align: left;
		margin-bottom: 18px; }
	table.spip tr.row_first {
		border-top: 2px solid #000;
		background: none; }
		table.spip th, table.spip td {
			border-width: 1px 0;
			padding: 9px 5px 8px 2px; }
		table.spip tr.row_even { background-color: white; }
		table.spip tr.row_odd {
			background-color: #fff; }


/* règles spécifiques */
.contenu_principal { font-size: 14px; line-height: 18px; }
.contenu_principal h1, .contenu_principal h2, .contenu_principal h3, .contenu_principal h4, .contenu_principal h5, .contenu_principal h6 { color: #b80000; }
.contenu_principal p { text-align: justify; }


/* ------------------------------------ */
/*  Entete								*/
/* ------------------------------------ */

/* raccourcis */
#raccourcis { position: absolute; top:-18px; right: 0; }
	#raccourcis li {
		font: 9px/11px "Lucida Grande","Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		float: left;
		margin: 2px 0 0 5px; padding-left: 5px;
		border-left: 1px solid #a4c700; }
	#raccourcis li:first-child { border-left: 0; }
		#raccourcis a { color: rgb(189,229,0); }
		#raccourcis a:hover { color: rgb(210,255,0); }


/* logo */
#logo { margin-left: 40px; }
	#logo h1, #logo h2, #logo a {
		text-indent: -9999px;
		color: #fff; 
		display: block;
		margin: 0;
		height: 54px; width: 700px; }
	
	#logo a { top: 0; }

/* ------------------------------------ */
/*  Menus								*/
/* ------------------------------------ */

/* Menu principal */
#nav { margin: 18px 0 0 80px; }
	
	#nav li { 
		float: left;
		position: relative; z-index: 999;
		margin-right: 4px; padding: 0 4px 0; }
	
	#nav li.on > a { background: url(../img/navigation-hover-active-blanc.png) no-repeat center bottom; }
	
	#nav li.over { 
		background-color: #4f007e; }
	
	#nav li span.dropdown {
    		cursor: pointer;
    		background: #2c0046 url(../img/ui-icons_888888_256x240.png) no-repeat -66px -17px;
    		border: 1px solid #2c0046;
    		height: 14px; width: 14px;
    		margin: 3px 0 0 3px; }
		
		#nav ul ul { 
			background-color: #4f007e;
			display: none;
			position: absolute; top: 24px; left: 0; z-index: 999; }
			
			#nav ul ul li {
				border-bottom: 1px solid #6800a7;
				min-width: 200px; 
				margin-right: 0;
				padding: 2px 2px 4px 4px; }
			
			#nav ul ul li:hover {
				background-color: #80c/*#6800a7*/; background-image: none; }
		
				#nav li a { 
					color: #fff; text-decoration: none;
					height: 24px; }
		
				#nav li a:hover { 
					text-decoration: underline;
					background: url(../img/navigation-hover-active-blanc.png) no-repeat center bottom; }
		
				#nav li li a { height: auto; } 
		
				#nav li a, #nav li span.dropdown {
					display: block;
					float: left; }
			
			#nav li span.over {
				border: 1px solid #2c0046; border-color: #2c0046 #6800a7 #6800a7 #2c0046; }
				
	#nav li.over a:hover, #nav li li.on a, #nav li li a:hover {
					background-image: none; }

/* Menu local */
#navigation {  }
	#navigation ul {  }
		#navigation li {  }
		#navigation li.on { font-weight: normal; }
			#navigation li a {
				color: #bababa;
				display: block;
				margin: 0 0 2px; padding-left: 10px; }
				#navigation li a span {
					display: block;
					padding: 0 2px 2px;
					border-bottom: 1px solid #eee; }
				#navigation li a:hover {
					color: #80c;
					text-decoration: none;
					background: url(../img/navigation-locale-hover-active.png) no-repeat left center; }
			#navigation li.on > a {
				color: #4f007e;
				background: url(../img/navigation-locale-hover-active.png) no-repeat left center; }
				#navigation li.on > a span { border-bottom-color: #4f007e; }
				#navigation li li > a { padding-left: 14px; }
					#navigation li li li > a { padding-left: 18px; }
						#navigation li li li li > a { padding-left: 22px; }

/* ------------------------------------ */
/*  Contenu								*/
/* ------------------------------------ */
/* Règles générales */
.meta-publi, .info-publi { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* Articles */
.titre { margin-bottom: 36px; }
	
	.titre h1 { color: #B80000; }
	
	.titre .surtitre, .titre .soustitre { 
		color: #600099;
		font-size: 14px; line-height: 18px;
		text-transform: uppercase;
		margin-bottom: 0; }

	.titre .soustitre { 
		font-size: 18px; text-transform: none;
		margin-top: 18px; margin-left: 30px; }

	.titre .info-publi {
		color: #ccc; 
		margin: 18px 0 0 560px; }
	
	.titre .info-publi abbr { color: #4f007e; }

.chapo {  }
	.chapo p { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.texte {  }
	.texte h2 + p, .texte h3 + p, .texte h4 + p, .texte h5 + p, .texte h6 + p { text-indent: 0; }
	.texte p { text-indent: 1em; }

.ps, .notes { margin: 36px 0 0 auto; width: 70%; }
	.ps h2, .notes h2 {
		font-size: 18px; line-height: 18px;
		border-top: 2px solid #000;
		margin: 4px 0 9px; padding-top: 5px; }
	.ps p, .notes p { font-size: 12px; text-align: left; }


/* Rubriques */
h2.section {
	color: #4f007e;
	border: 2px solid #4f007e; border-width: 2px 0 1px;
	margin-bottom: 28px; padding: 6px 0; }
.menu-entree h2 {
	font-size: 20px;
	border-bottom: 1px dotted #4f007e;
	margin-top: 18px; margin-bottom: 12px; padding-bottom: 6px; }
	.menu-entree h2 a { color: #4f007e; }
	.menu-entree p.descriptif { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* hfeed */
.hentry {
	border-bottom: 1px dotted #cacaca;
	margin-bottom: 22px; padding-bottom: 5px; }

	h3.entry-title {
		font-size: 14px;
		margin: 0 0 18px; }
		h3.entry-title a { xcolor: #000; }
	
	.entry-content {  }	
		.entry-content p {
			text-align: left; }
	
	.meta-publi {  }
		.meta-publi p {
			font-size: 11px; line-height: 12px; text-align: left;
			float: left;
			border-right: 1px solid #cacaca;
			margin-bottom: 9px; margin-right: 10px; padding-right: 10px; }
		.meta-publi p:last-child { border-right: 0; }


/* 	pour les rubriques ne contenant pas d'articles : 
	on présente les articles des sous-rubriques
	sur 2 colonnes.									*/
.rubriques .hfeed .articles { width: 540px; margin-bottom: 54px; }
.rubriques .hfeed .colonne { width: 240px; }
.rubriques .hfeed .item-1 { margin-right: 60px; clear: left; }
.rubriques .hfeed .item-0 { margin-right: 0; }

/*	lien vers tous les articles d'une sous-rubrique */
.rubriques .liste .articles-tous {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; text-align: right;
	font-size: 12px;
	clear: both;
	width: 540px; }

/* Agenda */
	/* navigation temporelle */
#agenda-nav {
	margin: 36px 0 18px; padding: 10px 0 8px;
	border: 1px solid #8234b1; border-width: 2px 0 1px; }
	#agenda-nav ul { text-align: center; }
		#agenda-nav li {
			font: 12px/18px "Lucida Grande","Helvetica Neue", Helvetica, Arial, sans-serif;
			display: inline; clear: none;
			margin-right: 10px; }
		#agenda-nav li:last-child { margin-right: 0; }
			#agenda-nav a {
				 }
			#agenda-nav form { display: inline; }
				#agenda-nav select {
					width: 15em; }
				#agenda-nav p {
					display: inline; clear: none; 
					margin: 0;  }
	
	/* contenu agenda */
.vcalendar {  }
	.vevent {
		border-bottom: 1px solid #8234b1;
		margin: 0 0 22px 0; padding-bottom: 5px; }
		.vevent dt, #extra .liste dt {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; text-align: center; 
			background-color: #8234b1; color: #fff;
			float: left;
			padding: 5px;
			border-radius: 4px; 
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			box-shadow: 0 0 5px rgba(72,0,114,0.3);
			-webkit-box-shadow: 0 0 5px rgba(72,0,114,0.3);
			-moz-box-shadow: 0 0 5px rgba(72,0,114,0.3); }
			.vevent dt .jour {
				font-size: 36px; line-height: 30px; }
			.vevent dt .mois-annee, #extra .liste dt .mois-annee {
				font-size: 11px; font-weight: bold; line-height: 18px;
				background-color: #600099;
				margin-top: 5px; padding: 2px 5px;
				display: block;
				box-shadow: 0 0 5px #333;
				-webkit-box-shadow: 0 0 5px #333;
				-moz-box-shadow: 0 0 4px #333; }
			.vevent dt .sep.first, #extra .liste dt .sep.first { display: none; }
			.vevent dd { margin-left: 6em; }
				.vevent dd h3 { margin: 36px 0 9px 0; }
				.vevent dd .infos {
						font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
						font-size: 12px; line-height: 12px;
						border-bottom: 1px solid #8234b1;
						margin: 0 0 9px; padding: 0 0 9px 5em; } 
					.vevent dd .label {
						color: #600099; font-weight: bold;
						display: block; float: left;
						margin-left: -5em; width: 5em; }
/* #extra rubriques */
/* listes (actu, agenda, etc.) */
#extra .liste { margin-bottom: 46px; }
	#extra .liste h2 {
		font-size: 14px;
		border: 2px solid #4f007e; border-width: 2px 0 1px;
		margin: 0 0 10px; padding: 8px 0 8px; }
	
	/* actu */
	#extra .liste li.hentry {
		list-style-type: none;
		margin-bottom: 12px; padding-bottom: 0px; }
		#extra .liste h3.entry-title {
			font-size: 12px;
			margin-bottom: 6px; }
		#extra .liste .entry-content { display: none; }
	
	/* agenda */
	/* voir également section "contenu agenda" plus haut */
	#extra .liste dl {
		border-bottom: 1px dotted #ccc;
		margin-bottom: 9px; padding-bottom: 6px;}
		#extra .liste dt { padding: 2px 3px; }
			#extra .liste dt .jour { font-size: 18px; line-height: 18px; }
			#extra .liste dt .mois-annee {
				font-size: 9px; line-height: 10px;
				margin: 2px 0 2px; padding: 0 2px; }
		#extra .liste dd { margin-left: 4.25em; }
			#extra .liste dd h3 { font-size: 12px; margin: 0; }
						 
/* UI-tabs (JQuery) */

/* original */
.ui-tabs { padding: .2em; zoom: 1; }
	.ui-tabs-nav { list-style: none; position: relative; padding: .2em .2em 0; }
		.ui-tabs-nav li { position: relative; float: left; border-bottom-width: 0 !important; margin: 0 .2em -1px 0; padding: 0; }
			.ui-tabs-nav li a { float: left; text-decoration: none; padding: .5em 1em; }
		.ui-tabs-nav li.ui-tabs-selected { padding-bottom: 1px; border-bottom-width: 0; }
			.ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {  }
		.ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
	.ui-tabs-panel { padding: 1em 1.4em; display: block; border-width: 0; background: none; }
	.ui-tabs-hide { display: none !important; }

/* personnalisé */
.ui-tabs { 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 1.6em 0 0;
	background: #110019 url(../img/background-rayures-noir_violet-degrade.png) repeat-x left top;
	border-radius: 2px 0; 
	-webkit-border-top-left-radius: 2px; 
	-webkit-border-top-right-radius: 2px; 
	-moz-border-radius: 2px 2px 0 0; }

	.ui-tabs-nav {
		border-bottom: 1px solid #50206d;
		margin: 0 2px; padding: 0 0 0 5px; }
	
		.ui-tabs-nav li {
			border: 1px solid #50206d;
			border-radius: 2px 0; 
			-webkit-border-top-left-radius: 2px; 
			-webkit-border-top-right-radius: 2px; 
			-moz-border-radius: 2px 2px 0 0; }
		
		.ui-tabs-nav li.ui-state-default {
			background: #600099 url(../img/tabs-defaut-background.png) repeat-x left bottom;}
	
		.ui-tabs-nav li.ui-state-hover {
			background-color: #8234b1; background-image: none; }
		
		.ui-tabs-nav li.ui-tabs-selected {
			border-color: #50206d;
			background-color: #fff;
			background-image: none; }
			
			.ui-tabs-nav li h2 {
				font-size: 12px;
				margin: 0; }
			
			.ui-tabs-nav li a {
				color: #fff;
				padding: 0 5px .4em; }
				
			.ui-tabs-nav li.ui-tabs-selected a {
				color: #4f007e; }

	.ui-tabs .ui-tabs-panel {
		background-color: #fff;
		border: 1px solid #50206d; border-top-width: 0; border-bottom-width: 0; 
		padding: 1.1em 5px 0 10px; margin: 0 2px }
		
		.ui-tabs-panel dl, .ui-tabs-panel ul { 
			width: 199px;
			margin-bottom: .7em; }
		
			.ui-tabs-panel dt, .ui-tabs-panel li {
				border-bottom: 1px solid #eee;
				padding-top: .4em;
				padding-bottom: .4em; }
			
		.ui-tabs-panel dl.document {
			border-bottom:	1px solid #eee;
			padding-bottom: .7em; }
			
			.ui-tabs-panel dl.document dt {
				float: left;
				margin-right: 7px; padding-bottom: 0; }
				
				.ui-tabs-panel dl.document dt a {
					display: block;
					border: 1px solid #eee; }
				
				.ui-tabs-panel dl.document dt a:hover {
					background-color: #80c;
					border-color: #80c; }
			
			.ui-tabs-panel dl.document dd {
				color: #bababa;
				float: right;
				width: 138px; }
				
				.ui-tabs-panel dl.document dd h3, .ui-tabs-panel ul.mots li h3 {
					font-size: 12px; line-height: 18px;
					margin: 0; }
				
			.ui-tabs-panel dl.document dd span {
				border-top: 1px dotted #eee; }

/* Pétition */
	/* formulaire voir plus bas */
	
	/* compteur signatures */
p.signatures_compteur {
	text-align: right;
	margin: .7em 1px 0 0; }
	
	.signatures_compteur a.action { 
		border-radius: 4px 0;
		-webkit-border-top-left-radius: 4px; 
		-webkit-border-top-right-radius: 4px; 
		-moz-border-radius: 4px 4px 0 0; }

	/* signatures */
#signatures { margin-top: 54px; margin-bottom: 2em; }
	#signatures p.signer {
		font-family: "Lucida Grande","Helvetica Neue", Helvetica, Arial, sans-serif;
		text-align: right; }

/* ------------------------------------ */
/*  Pagination							*/
/* ------------------------------------ */
p.pagination { 
	font: 12px/14px "Helvetica Neue", Helvetica, Arial, sans-serif; text-align: right; color: ;
	margin: 0 0 18px; padding-top: 4px; }
	p.pagination a, p.pagination strong {
		border: 1px solid #ccc;
		padding: 0 3px 0; }
	p.pagination a:hover {
		color: #c00; background-color: #000; 
		border-color: #000; }
	p.pagination strong { 
		color: #fff; background-color: #b80000; 
		border-color: #b80000; }
	p.pagination .sep { display: none; }

/* ------------------------------------ */
/*  Formulaires							*/
/* ------------------------------------ */

/* paramètres communs */
fieldset {  }
input { font-family: "Lucida Grande","Helvetica Neue", Helvetica, Arial, sans-serif; }

/* surcharge spip_formulaires */
.formulaire_spip .boutons { margin-bottom: 1.5em; }

/* recherche */
#formulaire_recherche { position: absolute; top: -3.9em; right: 0; }
	#formulaire_recherche label { display: none; }
	#formulaire_recherche input {
		background-color: #92b100;
		border: 1px solid rgba(189,229,0,0.2) }
	#formulaire_recherche input[type="text"] { 
		color: rgb(210,255,0);
		background: #92b100 url(../img/icone_recherche.png) no-repeat 1px -1px;
		width: 15em; }
	#formulaire_recherche input[type="submit"] { color: rgb(189,229,0); font-size: 10px; }
	#formulaire_recherche input[type="text"]:focus { border-color: rgb(210,255,0); }
	#formulaire_recherche input[type="submit"]:hover { 
		color: rgb(210,255,0);
		border-color: rgb(210,255,0); }
	#formulaire_recherche input[type="submit"]:active {
		border-style: inset; outline: none; }

/* formulaire signature pétition */
.petition {
	background: #280000 url(../img/background-rayures-noir_rouge-degrade.png) repeat-x left top;
	padding: 1.5em 2px 0;
	border-radius: 2px 0; 
	-webkit-border-top-left-radius: 2px; 
	-webkit-border-top-right-radius: 2px; 
	-moz-border-radius: 2px 2px 0 0; }
	
	.petition h3 {
		color: #fff;
		text-transform: uppercase;
		margin: 0 5px 0; }
	
	.petition .formulaire_signature {
		background-color: #fafafa;
		border: 1px solid #800014; border-bottom-width: 0;
		padding: 0 5px; }
		
		.petition form { border-bottom:	1px solid #eee; }
		
			.petition fieldset { 
				margin: .7em 0 0; }
				
				.petition fieldset legend { 
					font: 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
					color: #bc1e20; background-color: transparent;
					font-weight: bold; text-transform: uppercase;
					border-bottom: 1px solid #bc1e20; }
				
				.petition li {
					opacity: .6; }
				
				.petition li.obligatoire {
					opacity: 1; }
				
				.petition label {
					font: 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
					color: #000; }
					
				.petition input.text, .petition textarea {
					border: 2px solid #eaeaea; }
				
				.petition input:focus, .petition textarea:focus { border: 1px solid #990017; }

/* ------------------------------------ */
/*  Habillage : ombres                  */
/* ------------------------------------ */
.ombre005 {
	box-shadow: 0 0 5px #333;
	-webkit-box-shadow: 0 0 5px #333;
	-moz-box-shadow: 0 0 5px #333; }

	
/* ------------------------------------ */
/*  Divers								*/
/* ------------------------------------ */

/* lien "action" */
a.action { 
	font: 12px/18px "Lucida Grande","Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff; background-color: #78001a;
	padding: 3px;
	border-radius: 4px;
	-webkit-border: 4px;
	-moz-border-radius: 4px; }
a.action:hover { color: #c00; background-color: #000; }

/* texte d'infos */
.info {
	background-color: rgba(72,0,114,0.89);
	color: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 18px auto; padding: 0 5px;
	width: 80%;
	border-radius: 4px;
	-webkit-border: 4px;
	-moz-border-radius: 4px;
	box-shadow: 0 0 5px rgba(72,0,114,0.3);
	-webkit-box-shadow: 0 0 5px rgba(72,0,114,0.3);
	-moz-box-shadow: 0 0 5px rgba(72,0,114,0.3); }
	.info p {
		xtext-align: center; 
		background: url(../img/icone-information-32x32.png) no-repeat 0 center;
		padding: 13px 15px 15px 42px ; }


/* accessibilité */
.accessibilite { display:none; }

/* surcharge css boutons admin */
#spip-admin { margin-top: 4.5em; }
	#spip-admin a { float: none; margin-bottom: .5em; }
