/* ------------------------------------ */
/*  Site : CFCPI                        */
/*  URL : www.cfcpi.fr                  */
/*  Auteur : christophe le drean        */
/*  Date :                              */
/*  Version : 2                         */
/* ------------------------------------ */

/* ------------------------------------ */
/*  Table des matières                  */
/* ------------------------------------ */
/*  - Reset
    - Réglage des float
    - Maquette des pages
    - Liens (réglages général)
    - Typo générale
    - Entete
    - Menus
    - Formulaires
    - Habillage : ombres

*/

/* ------------------------------------ */
/*  Couleurs	 		                */
/* ------------------------------------ */
/*	rouge brique (liens...) : #b80000
	
*/

/* ------------------------------------ */
/*  Reset                               */
/* ------------------------------------ */
/*  http://meyerweb.com/eric/thoughts/
    2007/05/01/reset-reloaded/          */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0;
	border: 0; outline: 0;
	font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit;
	vertical-align: baseline; }

/* remember to define focus styles! */
:focus {  }

body {
	color: black;
	background: white; }

ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0; }

caption, th, td {
	text-align: left;
	font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; }

blockquote, q { quotes: "" ""; }

/* ------------------------------------ */
/*  Réglage des float                   */
/* ------------------------------------ */
/*	voir : 
	http://www.positioniseverything.net/easyclearing.html 
	+ modif http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack
*/

.clearfix:after { visibility: hidden; clear: both; display: block; height: 0; font-size: 0; content: " "; }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* ------------------------------------ */
/*  Maquette des pages					*/
/* ------------------------------------ */

/* grille */
/*	1 : 60		7 : 540		*/
/*	2 : 140		8 : 620		*/
/*	3 : 220		9 : 700		*/
/*	4 : 300		10 : 780	*/
/*	5 : 380		11 : 860	*/
/*	6 : 460		12 : 940	*/

.colonne { float: left; margin-right: 20px; }
.item-0 { margin-right: 0; }

/* règles communes */

body { 
	background: #000 url(../img/body-background.jpg) repeat-x left top;
	color: #000;
	margin: 0; }
	#page { 
		color: #fff; background-color:#2c0046;
		position: relative;
		overflow: visible;
		margin: 36px auto; padding-bottom: 20px; 
		width: 960px;
		border-radius: 8px 0 0 8px;
		-webkit-border-top-left-radius: 8px; 
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius: 8px 0 0 8px; }
		#entete { padding: 27px 0 0 20px; }
		#conteneur {
			color: #000; background-color: #fff;
            margin-left: 60px; padding-top: 34px; 
            position: relative;
            width: 980px;
            border-radius: 0 8px 8px 0;
            -webkit-border-top-right-radius: 8px; 
            -webkit-border-bottom-right-radius: 8px; 
            -moz-border-radius: 0 8px 8px 0; }
            #contenu { 
            	margin-right: 20px;
            	float: right;
            	width: 780px; }
            	.titre { width: 780px; }
            	.contenu_principal { width: 540px; }
            	#extra { 
            		display: inline; float: right;
            		width: 220px; }
            #navigation { 
            	float: left;
            	width: 160px; }
            #hierarchie { clear: both; border-top: 2px solid #600099; margin: 0 20px; width: 940px;  }
            #pied { 
            	margin-top: 18px; margin-left: 60px; }

/* règles spécifiques */

/* sommaire */
.page_sommaire #contenu { width: 940px; }	
	.page_sommaire #contenu .contenu_principal { float: left; width: 940px; }
	.page_sommaire .contenu_principal #news { width: 940px; border-bottom: 4px solid #600099; margin-bottom: 36px; }
	.page_sommaire #news .principale { width: 620px; }
	.page_sommaire #news .secondaire { width: 300px; margin-right: 0; }
	.page_sommaire #extra { display: none; }
.page_sommaire #navigation { display: none; }

/* article, rubrique, site */
.page_article .contenu_principal, .page_rubrique .contenu_principal, .page_site .contenu_principal { float: left; }

/* mot */
.page_mot .contenu_principal { width: 780px; }
	.page_mot .principale { 
		float: left;
		width: 460px; }
	.page_mot .secondaire { 
		float: right; 
		margin-right: 0;
		width: 300px; }
.page_mot #extra { display: none; }

/* mots */
.page_mots #contenu .contenu_principal { width: 780px; }
.page_mots #navigation { display: none; }
.page_mots #extra { display: none; }

/* recherche */
.page_recherche .contenu_principal { width: 780px; }
	.page_recherche .principale {
		float: left;
		width: 460px; }
	.page_recherche .secondaire {
		float: right;
		margin-right: 0;
		width: 300px; }
.page_recherche #extra { display: none; }

/* auteurs */
.page_auteur #contenu { width: 940px; }
	.page_auteur #contenu .contenu_principal { float: left; width: 540px; margin-left: 160px; }
	.page_auteur #contenu .no_logo {  }
.page_auteur #navigation { display: none; }


/* ------------------------------------ */
/*  Liens (réglages général)			*/
/* ------------------------------------ */
a { color: #b80000; text-decoration: none; }
a:visited { color: #b80000; }
a:hover, a.spip_out:hover, a.spip_glossaire:hover { color: #000; text-decoration: underline; outline: none; }
a:active, a:focus { position: relative; top: 1px; outline: thin dotted; }
a:active { outline: none; }


a.spip_out, a.spip_glossaire {
	background: url(../img/spip_out.png) no-repeat right center;
	color: #ba0003;
	padding-right: 12px; }

/* ------------------------------------ */
/*  Typo								*/
/* ------------------------------------ */

/* générique */
html { font-size: 100.01%; /* pour IE */ }
body { font: 12px/18px Georgia, "Times New Roman", Times, serif; color: #3e0000; }

/* Titraille */
h1,h2,h3,h4,h5,h6, #nav ul li, #navigation, .surtitre, .soustitre  { font-family: "Museo Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal; }
h1 { font-size: 30px; line-height: 36px; margin: 0 0 0; }
h2 { font-size: 24px; line-height: 18px; margin: 36px 0 18px; }
h3 { font-size: 20px; line-height: 18px; margin: 36px 0 18px; }
h4 { font-size: 18px; line-height: 18px; margin: 0 0 18px; }
h5 { font-size: 14px; line-height: 18px; margin: 0 0 0; }
h6 { font-size: 13px; line-height: 16px; margin: 0 0 0; }

.a-cote h3 { font-size: 14px; line-height: 18px; }
h2.section-titre {
	color: #600099;
	border: 2px solid #600099; border-width: 2px 0 1px;
	margin: 0 0 18px; padding: 6px 0; }

/* texte  */
p { margin-bottom: 18px; }
blockquote, blockquote.spip {
	color: rgb(120,120,120); 
	border: 0;
	margin: 0; padding: 0 18px 0; }
strong { font-weight: bold; }
em, cite, i, dfn { font-style: italic; }
abbr, acronym { border-bottom: 1px dotted; cursor: help; }
small { font-size: 11px; }
del { text-decoration: line-through; }
ins {
	color: #7e001a; text-decoration: none; 
	border: 1px dotted #7e001a; 
	padding: 0 2px; }
sup { vertical-align: super; font-size: 10px; line-height: 8px;}
sub { vertical-align: sub; font-size: 10px; line-height: 8px;}
hr, hr.spip {
	background-color: #a1001a;
	border: none;
	height: 2px; width: 60%;
	margin: 18px auto 16px; }
code, kbd, samp, pre, tt, var, .spip_code, .spip_cadre { color: #600099; font-family: monospace; }
.spip_cadre { background-color: #fafafa; border: 1px solid #eaeaea; padding: 2px; }

/* listes */
ul.spip, ol.spip { margin-bottom: 18px; padding-left: 2em; }
ul.spip ul, ol.spip ol { margin-bottom: 0; }
ul.spip li { list-style-type: disc; }
ul.spip li li { list-style-type: circle; }

/* tableaux */
table.spip {
	font: normal 12px/18px "Lucida Grande","Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 0;
	width: 540px; }
	table.spip caption {
		text-align: left;
		margin-bottom: 18px; }
	table.spip tr.row_first {
		border-top: 2px solid #000;
		background: none; }
		table.spip th, table.spip td {
			border-width: 1px 0;
			padding: 9px 5px 8px 2px; }
		table.spip tr.row_even { background-color: white; }
		table.spip tr.row_odd {
			background-color: #fff; }


/* règles spécifiques */
.contenu_principal { font-size: 14px; line-height: 18px; }
.contenu_principal h1, .contenu_principal h2, .contenu_principal h3, .contenu_principal h4, .contenu_principal h5, .contenu_principal h6 { color: #b80000; }
.contenu_principal p { text-align: justify; }


/* ------------------------------------ */
/*  Pagination							*/
/* ------------------------------------ */
p.pagination { 
	font: 12px/14px "Helvetica Neue", Helvetica, Arial, sans-serif; text-align: right; color: ;
	margin: 0 0 18px; padding-top: 4px; }
p.pagination.haut { margin-bottom: 18px; }
p.pagination.bas { margin-bottom: 36px; }
	p.pagination a, p.pagination strong {
		border: 1px solid #ccc;
		padding: 0 3px 0; }
	p.pagination a:hover {
		color: #c00; background-color: #000; 
		border-color: #000; }
	p.pagination strong { 
		color: #fff; background-color: #b80000; 
		border-color: #b80000; }
	p.pagination .sep { display: none; }


/* ------------------------------------ */
/*  Entete								*/
/* ------------------------------------ */

/* raccourcis */
#raccourcis { position: absolute; top:-20px; xright: 0;  left: 0;}
	#raccourcis li {
		font: 9px/11px "Lucida Grande","Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		float: left;
		margin: 2px 0 0 5px; padding-left: 5px;
		border-left: 1px solid #a4c700; }
	#raccourcis li:first-child { border-left: 0; }
		#raccourcis a { color: rgb(189,229,0); }
		#raccourcis a:hover { color: rgb(210,255,0); }


/* logo */
#logo { margin-left: 40px; }
	#logo h1, #logo h2, #logo a {
		text-indent: -9999px;
		color: #fff; 
		display: block;
		margin: 0;
		height: 54px; width: 700px; }
	
	#logo a { top: 0; }

/* ------------------------------------ */
/*  Menus								*/
/* ------------------------------------ */

/* Menu principal */
#nav { margin: 27px 0 0 60px; }
	
	#nav li { 
		float: left;
		position: relative; z-index: 999;
		margin-right: 4px; padding: 0 4px 0; }
	
	#nav li.on > a { background: url(../img/navigation-hover-active-blanc.png) no-repeat center bottom; }
	
	#nav li.over { 
		background-color: #4f007e; }
	
	#nav li span.dropdown {
    		cursor: pointer;
    		background: #2c0046 url(../img/ui-icons_888888_256x240.png) no-repeat -66px -17px;
    		border: 1px solid #2c0046;
    		height: 14px; width: 14px;
    		margin: 3px 0 0 3px; }
		
		#nav ul ul { 
			background-color: #4f007e;
			display: none;
			position: absolute; top: 24px; left: 0; z-index: 999; }
			
			#nav ul ul li {
				border-bottom: 1px solid #6800a7;
				min-width: 200px; 
				margin-right: 0;
				padding: 2px 2px 4px 4px; }
			
			#nav ul ul li:hover {
				background-color: #80c/*#6800a7*/; background-image: none; }
		
				#nav li a { 
					color: #fff; text-decoration: none;
					height: 24px; }
		
				#nav li a:hover { 
					text-decoration: underline;
					background: url(../img/navigation-hover-active-blanc.png) no-repeat center bottom; }
		
				#nav li li a { height: auto; } 
		
				#nav li a, #nav li span.dropdown {
					display: block;
					float: left; }
			
			#nav li span.over {
				border: 1px solid #2c0046; border-color: #2c0046 #6800a7 #6800a7 #2c0046; }
				
	#nav li.over a:hover, #nav li li.on a, #nav li li a:hover {
					background-image: none; }

/* Menu local */
	/* squelettes rubrique, article */
#navigation {  }
	#navigation ul {  }
		#navigation li {  }
		#navigation li.on { font-weight: normal; }
			#navigation li a {
				color: #bababa;
				display: block;
				margin: 0 0 2px; padding-left: 20px; }
				#navigation li a span {
					display: block;
					padding: 0 2px 2px;
					border-bottom: 1px solid #eee; }
				#navigation li a:hover {
					color: #80c;
					text-decoration: none;
					background: url(../img/navigation-locale-hover-active.png) no-repeat left center; }
			#navigation li.on > a {
				color: #600099;
				background: url(../img/navigation-locale-hover-active.png) no-repeat left center; }
				#navigation li.on > a span { border-bottom-color: #600099; }
				#navigation li li > a { padding-left: 24px; }
					#navigation li li li > a { padding-left: 28px; }
						#navigation li li li li > a { padding-left: 32px; }

	/* squelette mot-clé voir plus bas dans section index des mots-clés */

/* ------------------------------------ */
/*  Contenu								*/
/* ------------------------------------ */
/* Règles générales */
.meta-publi, .info-publi {  }

/* Sommaire */
.page_sommaire h2.section-titre {
	color: #600099;
	border: 0;
	margin: 0 0 18px; padding: 6px 0; }

.quiSommesNous { 
	background: #280000 url(../img/background-rayures-noir_rouge-degrade.png) repeat-x left top;
	margin-bottom: 36px; padding-top: 18px; }
	.quiSommesNous > div { font-family: "Museo Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; background-color: #fff; margin: 0 3px; padding: 9px 5px 0 10px; }
		.quiSommesNous h3 { margin: 0 0 18px 13px; }
			.quiSommesNous h3 a { color: #fff; }
		.quiSommesNous p { font-size: 12px; text-align: left; }
	.quiSommesNous ul.liens { font-family: "Museo Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; border-bottom: 1px dotted #ccc; padding-bottom: 8px; }
	
#rubriques li {
	width: 220px; }
	#rubriques li h3 { font-size: 16px; margin: 0 0 9px; }
	#rubriques li .introduction p { font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif; }
		#rubriques li li { xmargin-left: 10px; }
		#rubriques li li h4 { font-size: 14px; margin-bottom: 0; }
		#rubriques li li .introduction p { font-size: 11px; color: #999; margin-left: 16px; }
			#rubriques li li .introduction a.suite { font-size: 13px; }

/* Articles */
.titre { margin-bottom: 36px; }
	.titre h1 { color: #B80000; }
	.page_auteur .titre h1 { margin-left: 160px; }
	.titre .surtitre, .titre .soustitre { 
		color: #600099;
		font-size: 14px; line-height: 18px;
		text-transform: uppercase;
		margin-bottom: 0; }
	.titre .soustitre { 
		font-size: 18px; text-transform: none;
		margin-top: 9px; margin-bottom: 9px; xmargin-left: 30px; }
	.titre .spip_logos { float: left; margin: 4px 20px 20px 0; }
	.titre .info-publi {
		color: #ccc; 
		margin: 18px 0 0 560px; }
	.titre .info-publi abbr { color: #600099; border-bottom: none; }
.chapo {  }
	.chapo p { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
.texte {  }
	.texte h2 + p, .texte h3 + p, .texte h4 + p, .texte h5 + p, .texte h6 + p { text-indent: 0; }
	.texte p { text-indent: 1em; }
.ps, .notes { margin: 36px 0 0 auto; width: 70%; }
	.ps h2, .notes h2 {
		font-size: 18px; line-height: 18px;
		border-top: 2px solid #600099;
		margin: 4px 0 9px; padding-top: 5px; }
	.ps p, .notes p { font-size: 12px; text-align: left; }


/* Rubriques */
.page_rubrique .chapo { margin-bottom: 36px; }
.page_rubrique .contenu_principal .liste { margin-bottom: 36px; }
.menu-entree h2 {
	font-size: 20px;
	border-bottom: 1px dotted #600099;
	margin-top: 18px; margin-bottom: 12px; padding-bottom: 6px; }
	.menu-entree h2 a { color: #600099; }
	.menu-entree p.descriptif { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; margin-bottom: 36px; }

/* Caroussel des membres et Bureau (rubrique Qui sommes-nous ?) */
	/* pour le squelette de la rubrique */
.caroussel {
	background-color: #f7f4f4;
	border: 1px solid #ccc; border-color: #dedcdf #fff #fff #dedcdf;
	position: relative;
	margin-bottom: 18px;
	width: 540px; }
	.caroussel .fleches {
		position: absolute; top: 9px; right: 10px; }
		.caroussel .fleches a, .caroussel .fleches strong, .caroussel .fleches span.off {
			background: url(../img/cfcpi-icones.png) no-repeat 0 0;
			display: block; float: left;
			text-indent: -9999px;
			height: 16px; width: 16px; }
		.caroussel .fleches a { cursor: pointer; }
		.caroussel .fleches a.precedent { background-position: 0 0; }
		.caroussel .fleches a.suivant { background-position: -16px 0; }
		.caroussel .fleches a.direct { background-position: -32px 0; }
		.caroussel .fleches a.select, .caroussel .fleches strong { background-position: -48px 0; }
	.caroussel .caroussel-conteneur {
		overflow: auto;
		margin: 27px 10px 0;
		width: 520px; }
		.caroussel .caroussel-conteneur .nav-membres { width: 99999px; }
			.caroussel .caroussel-conteneur .nav-membres li.membre {
				display: block; float: left; text-align: center;
				width: 124px; padding: 5px 3px; }
				.rubrique_quiSommesNous .caroussel .caroussel-conteneur .nav-membres li.membre p {
					font: 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
					text-align: center;
					margin: 0; }
				.caroussel .caroussel-conteneur .nav-membres li p.nom { margin: 9px 0; }
				.caroussel .caroussel-conteneur .nav-membres li p.logo {
					background-color: #fff;
					border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; }
					.caroussel .caroussel-conteneur .nav-membres li p.logo a {
						display: block;
						text-indent: -99999px;
						height: 80px; width: 80px;
						margin: 0 auto; padding: 5px;  }

	/* pour le squelette de l'article */
.article_membres .caroussel {  }
	.article_membres .caroussel .caroussel-contenur { overflow: hidden; }
	.article_membres .caroussel p.pagination { text-align: left; }
		.article_membres .caroussel .fleches a, .article_membres .caroussel .fleches strong {
			padding: 0;
			border: none; outline: none; }
		.article_membres .caroussel .fleches a.suspension { background-position: -64px 0; }
		.article_membres .caroussel .fleches span.precedent.off { background-position: 0 -16px; }
		.article_membres .caroussel .fleches span.suivant.off { background-position: -16px -16px; }
		.article_membres .caroussel .fleches a:hover { background-color: transparent; }
	.article_membres .caroussel .caroussel-conteneur {  }
		.article_membres .caroussel .caroussel-conteneur .nav-membres { width: auto; }
			.article_membres .caroussel .caroussel-conteneur .nav-membres li.membre { 
				height: auto;
				margin-top: 18px; padding: 5px;
				width: 510px; }
				.article_membres .caroussel .nav-membres li p.logo {
					text-align: center;
					float: left;
					width: 170px; }
					.article_membres .caroussel .nav-membres li p.logo a { height: 150px; width: 150px; }
				.article_membres .caroussel .nav-membres li .vcard {
					text-align:left;
					float: right;
					width: 320px; }
					.article_membres .caroussel .nav-membres li h2 {
						font-size: 20px;
						margin-top: 0; }
					.article_membres .caroussel .nav-membres li p { text-align: left; text-indent: 0; }
				
					.article_membres .caroussel .nav-membres li p.fonction,
					.article_membres .caroussel .nav-membres li p.hyperlien {
						font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
				
					.article_membres .caroussel .nav-membres li .note { margin-bottom: 18px; }
						.article_membres .caroussel .nav-membres li .note p { margin: 18px 0 0; }
						.article_membres .caroussel .nav-membres li .note p.suite {
							font: 12px "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif; text-align: right;
							border-top: 2px solid #b80000; 
							margin: 9px 0 4px; padding-top: 4px; }

/* auteurs */
.page_auteur p.fonction, .page_auteur p.hyperlien { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
.page_auteur .note { margin-top: 36px; }

/* hcard */
.identite {  }
	.identite dl {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px;
		border-bottom: 1px dotted #ccc;
		margin-bottom: 9px; padding-bottom: 9px;
		width: 540px; }
	.identite dl dt { 
		color: #600099; font-weight: bold;
		display: block; float: left; clear: left;
		margin-right: ;
		width: 200px; }
	.identite dl dd {
		float: right;
		width: 340px;}
		.identite dl p { margin-bottom: 0; }
					

/* hfeed */
.hentry {
	border-bottom: 1px dotted #ccc;
	margin-bottom: 31px; padding-bottom: 5px; }

	h3.entry-title {
		font-size: 16px;
		margin: 0 0 9px; }
		h3.entry-title a { xcolor: #000; }
	
	.entry-content { xpadding-top: 9px; }	
		.entry-content p {
			text-align: left; }
	
	.meta-publi {  }
		.meta-publi p {
			font: 11px/12px "Helvetica Neue", Helvetica, Arial, sans-serif; text-align: left;
			color: #999;
			float: left;
			border-right: 1px solid #ccc;
			margin-bottom: 9px; margin-right: 10px; padding-right: 10px; }
		.meta-publi p:last-child { border-right: 0; }


/* 	pour les rubriques ne contenant pas d'articles : 
	on présente les articles des sous-rubriques
	sur 2 colonnes.	 */
.rubriques .hfeed .articles { width: 540px; margin-bottom: 54px; }
.rubriques .hfeed .colonne { width: 260px; }
.rubriques .hfeed .item-1 { margin-right: 20px; clear: left; }
.rubriques .hfeed .item-0 { margin-right: 0; }
	.rubriques .hfeed .introduction p { font-size: 13px; }

/*	lien vers tous les articles d'une sous-rubrique */
.rubriques .liste .articles-tous {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; text-align: right;
	font-size: 12px;
	clear: both;
	width: 540px; }

/* Pour la page d'accueil une zone mineur sur deux colonnes */
.hfeed .majeur { width: 620px; }
	.hfeed .majeur .hentry { float: left; width: 300px; }
	.hfeed .majeur .item-0 { margin-right: 0; }
	.hfedd .majeur .item-1 { clear: left; }
		.hfeed .mineur h3 { font-size: 14px; }
		.hfeed .mineur .introduction p { font-size: 13px; }

/* Agenda */
	/* navigation temporelle */
#agenda-nav {
	margin: 36px 0 18px; padding: 10px 0 8px;
	border: 1px solid #600099; border-width: 2px 0 1px; }
	#agenda-nav ul { text-align: center; }
		#agenda-nav li {
			font: 12px/18px "Lucida Grande","Helvetica Neue", Helvetica, Arial, sans-serif;
			display: inline; clear: none;
			margin-right: 10px; }
		#agenda-nav li:last-child { margin-right: 0; }
			#agenda-nav a {
				 }
			#agenda-nav form { display: inline; }
				#agenda-nav select {
					width: 15em; }
				#agenda-nav p {
					display: inline; clear: none; 
					margin: 0;  }
	
	/* contenu agenda (hcalendar) */
.vcalendar {  }
.page_article .vcalendar { margin-bottom: 36px; }
	.page_rubrique .vevent {
		margin: 0 0 18px 0; }
	.page_article .vevent { margin: 0 0 18px; }
		.page_rubrique .vevent dt, #extra .liste dt, .secondaire .liste dt {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; text-align: center; 
			background-color: #8234b1; color: #fff;
			float: left;
			padding: 5px;
			border-radius: 4px; 
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			box-shadow: 0 0 5px rgba(72,0,114,0.3);
			-webkit-box-shadow: 0 0 5px rgba(72,0,114,0.3);
			-moz-box-shadow: 0 0 5px rgba(72,0,114,0.3); }
		.page_article .vevent dt {
			font: bold 12px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
			color: #b80000;
			border-bottom: 1px dotted #ccc;
			margin: 0 0 9px; padding-bottom: 9px; }
			.vevent dt .jour {
				font-size: 36px; line-height: 30px; }
			.vevent dt .mois-annee, #extra .liste dt .mois-annee, .secondaire .liste dt .mois-annee {
				font-size: 11px; font-weight: bold; line-height: 18px;
				background-color: #600099;
				margin-top: 5px; padding: 2px 5px;
				display: block;
				box-shadow: 0 0 5px #333;
				-webkit-box-shadow: 0 0 5px #333;
				-moz-box-shadow: 0 0 4px #333; }
			.vevent dt .sep.first, #extra .liste dt .sep.first, .secondaire .liste dt .sep.first { display: none; }
			.page_rubrique .vevent dd { margin-left: 6em; }
			.page_article .vevent dd {  }
				.vevent dd h3 { margin: 36px 0 9px 0; }
				.vevent dd .infos {
						font: 12px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
						border-bottom: 1px dotted #ccc;
						margin: 0 0 9px; padding: 0 0 9px 7em; } 
					.vevent dd .label {
						color: #600099; font-weight: bold;
						display: block; float: left;
						margin-left: -7em; width: 7em; }

/* squelettes mot-clé et recherche  */
.page_mot .chapo {
	margin-bottom: 36px;
	width: 620px; }

#articles h2.section-titre, #rubriques h2.section-titre { margin-top: 0; }

	/* articles liés : voir hentry plus haut */
	
	/* autres objets liés */
.item {
	border-bottom: 1px dotted #ccc;
	margin-bottom: 31px; padding-bottom: 5px; }

	h3.title {
		font-size: 14px;
		margin: 0 0 9px; }
	
	.introduction, .description {  }	
		.introduction p, .description p {
			text-align: left; }
			.description p span { color: #bababa; }
	
	.meta-publi {  }
		.meta-publi p {
			font-size: 11px; line-height: 12px; text-align: left;
			float: left;
			border-right: 1px solid #ccc;
			margin-bottom: 9px; margin-right: 10px; padding-right: 10px; }
		.meta-publi p:last-child { border-right: 0; }


/* index des mots-clés */
.index {  }
	/* squelette mot > #extra */
	#navigation #accordeon {  }
		#navigation #accordeon h2 {
			font-size: 26px; line-height: 36px;
			color: #600099;
			border-bottom: 1px solid #600099;
			margin: 0 0 9px 10px; }
		#navigation .index { 
			border-bottom: 1px solid #eee;
			padding-bottom: 2px;
			position: relative; }
		#navigation .index.etat-actif {
			border-bottom-color: #600099; }
			#navigation .alphabet {
				color: #ccc;
				font-size: 18px;
				margin-left: 2px; padding: 2px 0 2px 8px;
				position: relative; }
			#navigation .alphabet.contenu {
				color: #600099;
				cursor: pointer; }
				#navigation .alphabet .drop {
					display: block;
					height: 16px; width: 16px;
					position: absolute; right: 0; top: 50%; z-index: 100;
					margin-top: -8px; }
				#navigation .alphabet:hover .drop {
					background-image: url(../img/ui-icons_600099_256x240.png);
					background-position: -16px -128px; }
				#navigation .alphabet.etat-actif:hover .drop {
					background-image: url(../img/ui-icons_600099_256x240.png);
					background-position: -48px -128px; }
			#navigation .tag { margin-left: -10px; margin-top: 2px; }
				#navigation .tag ul { margin-left: 10px; }
					#navigation .tag.etat-actif li.on a { background: url(../img/navigation-locale-hover-active.png) no-repeat left center; }

	/* squelette mots > .contenu_principal */
	.contenu_principal .index {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		float: left;
		margin-right: 20px; margin-bottom: 36px;
		width: 220px; }
	.contenu_principal .index.item0 { margin-right: 0; }
	.contenu_principal .index.item1 { clear: left; }
		.contenu_principal .index .alphabet {
			font-size: 20px; line-height: 31px;
			color: #ccc;
			border-bottom: 1px solid #eee;
			margin-bottom: 4px; }
		.contenu_principal .index .alphabet.contenu {
			color: #600099;
			border-bottom-color: #600099; }
		.contenu_principal .index .tag { font-size: 13px; }

/* squelette recherche */
.titre h1 span { color: #600099; }


/* #extra et .secondaire */
/* listes */
#extra .liste, .secondaire .liste { margin-bottom: 46px; }
	#extra .liste h2 {
		font-size: 14px;
		border: 2px solid #600099; border-width: 2px 0 1px;
		margin: 0 0 10px; padding: 8px 0 8px; }
	#extra .liste li, .secondaire .liste { margin-bottom: 9px; padding-bottom: 9px; }
	
	/* liste actu */
	#extra .liste li.hentry, .secondaire .liste li.hentry {
		list-style-type: none;
		margin-bottom: 12px; padding-bottom: 0px; }
		#extra .liste h3.entry-title, .secondaire .liste h3.entry-title {
			font-size: 13px;
			margin-bottom: 6px; }
		#extra .liste .entry-content, .secondaire .liste .entry-content { display: none; }
	
	/* liste agenda */
	/* voir également section "contenu agenda" plus haut */
	#extra .liste dl, .secondaire .liste dl {
		border-bottom: 1px dotted #ccc;
		margin-bottom: 9px; padding-bottom: 6px;}
		#extra .liste dt, .secondaire .liste dt { border-bottom: 0; padding: 2px 3px; }
			#extra .liste dt .jour, .secondaire .liste dt .jour { font-size: 18px; line-height: 18px; }
			#extra .liste dt .mois-annee, .secondaire .liste dt .mois-annee {
				font-size: 9px; line-height: 10px;
				margin: 2px 0 2px; padding: 0 2px; }
		#extra .liste dd, .secondaire .liste dd { margin-left: 4.25em; }
			#extra .liste dd h3, .secondaire .liste dd h3 { font-size: 13px; margin: 0; }
						 
/* boite infos */
div.info {  }
	div.info p { text-align: left; }
	div.info p:last-child { margin-bottom: 0; }
p.info {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 11px; text-align: right;
	color: #600099;
	margin-top: -18px; }


/* css UI thème par défaut (JQuery) */

/* jquery.ui.theme.css personnalisé */
.ui-widget, div.info { background-image: none; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:14px; }
.ui-widget .ui-widget { xfont-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: "Lucida Grande","Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { border: none; }
	.ui-widget-header { background-color: transparent; background-image: none; border: none; }

/* Interaction states */
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 0; background: #fff url(../img/cfcpi-icones.png) 50% 50% repeat-x; }

.ui-widget-overlay { background: #000 url(../img/ui-bg_flat_0_000000_40x100.png) repeat 50% 50%; opacity: .50; filter:Alpha(Opacity=50); }

/* Icons */
.ui-icon {
	background-repeat: no-repeat;
	display: block; overflow: hidden; text-indent: -99999px;
	height: 16px; width: 16px; }
/* states and images */
.ui-widget-content .ui-icon, div.info .ui-icon { background-image: url(../img/cfcpi-icones.png); }
.ui-widget-header .ui-icon { background-image: url(../img/cfcpi-icones.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon { background-image: url(../img/cfcpi-icones.png); }
/* positioning */
.ui-icon-closethick { background-position: -80px 0; }

/* icones cfcpi */
.icon-info-ok { background-position: -16px -32px; }
.icon-info-erreur { background-position: 0 -32px; }
.ui-state-hover .ui-icon-closethick, .ui-state-focus .ui-icon-closethick { background-position: -32px -32px; }

/* UI-dialog (JQuery) */

/* personnalisé */

.ui-dialog, div.info {
	background-color: #f9f6fb;
	border: 6px solid #fff;
	padding: 4px;
	overflow: visible;
	box-shadow: 0 0 5px #333;
	-webkit-box-shadow: 0 0 5px #333;
	-moz-box-shadow: 0 0 5px #333; }
	.ui-dialog .ui-dialog-titlebar { padding: 4px; }
	.ui-dialog .ui-dialog-titlebar-close {
		top: -4px; right: auto; left: -16px; 
		background-color: #fff;
		box-shadow: 1px 1px 5px #333;
		-webkit-box-shadow: 1px 1px 5px #333;
		-moz-box-shadow: 1px 1px 3px #333; }
	.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 1px; }
	.ui-dialog .ui-dialog-content {  }

/* UI-tabs (JQuery) */

/* original */
.ui-tabs { padding: .2em; zoom: 1; }
	.ui-tabs-nav { list-style: none; position: relative; padding: .2em .2em 0; }
		.ui-tabs-nav li { position: relative; float: left; border-bottom-width: 0 !important; margin: 0 .2em -1px 0; padding: 0; }
			.ui-tabs-nav li a { float: left; text-decoration: none; padding: .5em 1em; }
		.ui-tabs-nav li.ui-tabs-selected { padding-bottom: 1px; border-bottom-width: 0; }
			.ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {  }
		.ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
	.ui-tabs-panel { padding: 1em 1.4em; display: block; border-width: 0; background: none; }
	.ui-tabs-hide { display: none !important; }

/* personnalisé */
.ui-tabs { 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 46px; padding: 1.6em 0 0;
	background: #110019 url(../img/background-rayures-noir_violet-degrade.png) repeat-x left top;
	border-radius: 2px 0; 
	-webkit-border-top-left-radius: 2px; 
	-webkit-border-top-right-radius: 2px; 
	-moz-border-radius: 2px 2px 0 0; }

	.ui-tabs .ui-tabs-nav {
		border-bottom: 1px solid #50206d;
		margin: 0 2px; padding: 0 0 0 5px; }
	
		.ui-tabs-nav li {
			font-size: 12px;
			border-radius: 2px 0;
			margin-right: 3px;
			-webkit-border-top-left-radius: 2px; 
			-webkit-border-top-right-radius: 2px; 
			-moz-border-radius: 2px 2px 0 0; }
		
		.ui-tabs-nav li.ui-state-default {
			background: #600099 url(../img/tabs-defaut-background.png) repeat-x left bottom;}
	
		.ui-tabs-nav li.ui-state-hover {
			background-color: #8234b1; background-image: none; }
		
		.ui-tabs-nav li.ui-tabs-selected {
			border-color: #50206d;
			background-color: #fff;
			background-image: none; }
			
			.ui-tabs-nav li h2 {
				font-size: 12px;
				margin: 0; }
			
			.ui-tabs-nav li a {
				color: #fff;
				padding: 0 5px .4em; }
				
			.ui-tabs-nav li.ui-tabs-selected a {
				color: #4f007e; }

	.ui-tabs .ui-tabs-panel {
		background-color: #fff;
		border: 1px solid #50206d; border-top-width: 0; border-bottom-width: 0;
		border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;
		padding: 1.1em 5px 0 10px; margin: 0 2px }
		
		.ui-tabs-panel dl, .ui-tabs-panel ul { margin-bottom: .7em; }
		
			.ui-tabs-panel dt, .ui-tabs-panel li {
				border-bottom: 1px dotted #ccc;
				padding-top: .4em;
				padding-bottom: .4em; }
				
				.ui-tabs-panel dd h3, .ui-tabs-panel li h3 {
					font-size: 13px; line-height: 18px;
					margin: 0; }
				
				.ui-tabs-panel .introduction p {
					font-size: 12px; font-family: Georgia, "Times New Roman", Times, serif; }
			
		.ui-tabs-panel dl.document {
			border-bottom:	1px solid #eee;
			padding-bottom: .7em; }
			
			.ui-tabs-panel dl.document dt {
				float: left;
				margin-right: 7px; padding-bottom: 0; }
				
				.ui-tabs-panel dl.document dt a {
					display: block;
					border: 1px solid #eee; }
				
				.ui-tabs-panel dl.document dt a:hover {
					background-color: #80c;
					border-color: #80c; }
			
			.ui-tabs-panel dl.document dd {
				color: #bababa;
				float: right;
				width: 138px; }
				
			.ui-tabs-panel dl.document dd span {
				font: 11px "Lucida Grande","Helvetica Neue", Helvetica, Arial, sans-serif;
				border-top: 1px dotted #eee;
				display: block; }

/* Pétition */
	/* formulaire voir plus bas */
	
	/* compteur signatures */
p.signatures_compteur {
	text-align: right;
	margin: .7em 1px 0 0; }
	
	.signatures_compteur a.action { 
		border-radius: 4px 0;
		-webkit-border-top-left-radius: 4px; 
		-webkit-border-top-right-radius: 4px; 
		-moz-border-radius: 4px 4px 0 0; }

	/* signatures */
#signatures { margin-top: 54px; margin-bottom: 2em; }
	#signatures p.signer {
		font-family: "Lucida Grande","Helvetica Neue", Helvetica, Arial, sans-serif;
		text-align: right; }

/* ------------------------------------ */
/*  Pied de page/hierarchie				*/
/* ------------------------------------ */
#hierarchie {  }
	#hierarchie ol {
		padding: 9px 0 27px; }
	#hierarchie li {
		font: 12px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
		background: url(../img/hierarchie-icone.png) no-repeat 0 50%;
		float: left;
		padding-left: 14px; margin-right: 5px; }
	#hierarchie li:first-child { background: none; padding-left: 0; }
		#hierarchie li strong { color: #600099; }


/* ------------------------------------ */
/*  Formulaires							*/
/* ------------------------------------ */

/* paramètres communs */
fieldset {  }
input, select, textarea {
	font-size: 100%; font-family: "Lucida Grande","Helvetica Neue", Helvetica, Arial, sans-serif; }

/* spip_formulaires */
.formulaire_spip {  }
	.formulaire_spip li.erreur .erreur_message { display: block; color: #C30; font-weight: bold; }
	.formulaire_spip li.erreur input.text, .formulaire_spip li.erreur textarea, .formulaire_spip li.erreur input.password { background-color: #f99; border-style: solid; border-color: #f99; }
	.formulaire_spip .boutons {  }

/* recherche */
#formulaire_recherche { position: absolute; top: -30px; right: 0; }
	#formulaire_recherche * { display: inline; }
	#formulaire_recherche fieldset { margin: 0; }
		#formulaire_recherche label { display: none; }
		#formulaire_recherche input { border: 1px solid rgba(189,229,0,0.2) }
		#formulaire_recherche input[type="text"] { 
			color: rgb(210,255,0);
			background: #92b100 url(../img/icone_recherche.png) no-repeat 1px -1px;
			padding: 2px 0 2px 25px;
			width: 15em; }
		#formulaire_recherche input[type="submit"] { background-color: transparent; border-color: transparent; color: rgb(189,229,0); }
		#formulaire_recherche input[type="text"]:focus { border-color: rgb(210,255,0); }
		#formulaire_recherche input[type="submit"]:hover { 
			color: rgb(210,255,0); background-color: #92b100;
			border-color: rgb(210,255,0); }
		#formulaire_recherche input[type="submit"]:active {
			border-style: inset; outline: none; }
		
/* lien vers index mots-clés */
#formulaire_recherche p { 
	font-family: "Lucida Grande","Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 11px;
	text-transform: uppercase;
	vertical-align: middle;
	border-right: 1px solid rgb(164,199,0);
	margin: 0 7px 0 0; padding-right: 7px; }
	#formulaire_recherche p a {
		color: rgb(189,229,0); }
	#formulaire_recherche p a:hover {
		color: rgb(210,255,0); }

/* habillage formulaire_cfcpi (formulaires petition, ecrire_auteur, login) */
.formulaire_cfcpi {
	background: #280000 url(../img/background-rayures-noir_rouge-degrade.png) repeat-x left top;
	padding: 1.5em 2px 0;
	border-radius: 2px 0; 
	-webkit-border-top-left-radius: 2px; 
	-webkit-border-top-right-radius: 2px; 
	-moz-border-radius: 2px 2px 0 0; }
	.formulaire_cfcpi .formulaire_spip {
		background-color: #fff;
		border: 1px solid #800014; border-bottom-width: 0;
		padding: 0 5px; }
	.formulaire_cfcpi .formulaire_spip + .formulaire_spip {
		border-top: none; }
		.formulaire_cfcpi form { border-bottom:	1px solid #eee; padding-bottom: 18px; }
		.formulaire_cfcpi .formulaire_spip + .formulaire_spip form {
			padding-top: 9px; }
			.formulaire_cfcpi fieldset { margin: 9px 0 0; }
			.formulaire_cfcpi fieldset.previsu {
				border-color: #990017; }
				.formulaire_cfcpi fieldset legend, .formulaire_cfcpi fieldset.previsu legend { 
					font: 14px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
					color: #bc1e20; background-color: transparent;
					font-weight: bold; text-transform: uppercase;
					border-bottom: 1px solid #bc1e20; }
					.formulaire_cfcpi li { 
						opacity: .6;
						margin: 0 0 18px; }
					.formulaire_cfcpi li.obligatoire, .formulaire_cfcpi .previsu li { opacity: 1; }
						.formulaire_cfcpi li label {
							font: 14px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
							color: #000; }
						.formulaire_cfcpi .colonnes li label {
							display: inline; float: left;
							width: 200px; }
						.formulaire_cfcpi .colonnes li input.text, .formulaire_cfcpi .colonnes textarea, .formulaire_cfcpi .colonnes input.password { float: left; width: 300px; }
						.formulaire_cfcpi li .erreur_message  {
							font: 11px "Lucida Grande","Helvetica Neue", Helvetica, Arial, sans-serif; float: left; }
						.formulaire_cfcpi li .pass_securise {
							xfloat: right; }
						.formulaire_cfcpi input.text, .formulaire_cfcpi textarea, .formulaire_cfcpi input.password { border: 2px solid #eaeaea; }
						.formulaire_cfcpi input:focus, .formulaire_cfcpi textarea:focus { border: 2px solid #990017; }
		.formulaire_cfcpi div.info { margin-top: 18px; margin-bottom: 18px; }


/* formulaire signature pétition */
.petition {  }
	.petition h3 {
		color: #fff;
		text-transform: uppercase;
		margin: 0 5px 0; }
	.petition .formulaire_spip {  }
		.petition fieldset {  }
			.petition .formulaire_spip fieldset legend { font-size: 11px; }
				.petition .formulaire_spip li { float: left; }
				.petition .formulaire_spip li label { font-size: 11px;   }
				.petition .formulaire_spip li input, .petition .formulaire_spip li textarea {
					xwidth: inherit; }
				.petition .formulaire_spip li span.erreur_message { float: none; }

/* formulaire login */
.formulaire_login .details { float: left; margin: 9px 0 9px 200px; }


/* ------------------------------------ */
/*  Habillage : ombres                  */
/* ------------------------------------ */
.ombre005 {
	box-shadow: 0 0 5px #333;
	-webkit-box-shadow: 0 0 5px #333;
	-moz-box-shadow: 0 0 5px #333; }

/* ------------------------------------ */
/*  Pied de page						*/
/* ------------------------------------ */
#pied { margin-left: 80px; }
	#pied a:hover { color: #fff; }
	#pied .colonne { width: 220px; }
	#pied .pied-nav {  }
	#pied .pied-cfcpi { width: 380px; }
	#pied .pied-newsletter { width: 460px; }
	#pied .pied-social { margin-top: 18px; }
		#pied .pied-social ul {
			xwidth: 880px; }
		#pied .pied-social li {
			border-bottom: 0; line-height: 18px; margin-right: 20px; width: 220px; }
		#pied .pied-social #rss { margin-right: 0; }
		#pied .pied-social a {
			display: block;
			float: left;
			height: 30px;
			padding-left: 30px; }
		#pied h3 { 
			font-size: 14px; 
			color: #8000cc; 
			border-bottom: 1px solid #600099;
			margin: 0 0 4px; padding: 0 0 5px; }
			#pied li { 
				font-family: "Museo Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
				line-height: 17px;
				border-bottom: 1px dotted #3e0063;  }
		#pied .pied-cfcpi .vcard a.url { font-family: "Museo Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
			#pied .pied-cfcpi .vcard .adr { float: left; width: 140px; }
			#pied .pied-cfcpi .vcard p { margin-bottom: 0; }
		#pied .pied-cfcpi .apropos { 
			border-left: 1px solid #3e0063;
			float: left;
			margin-left: 10px; padding-left: 10px;
			width: 200px; }
	
/* ------------------------------------ */
/*  Divers								*/
/* ------------------------------------ */

.spip_surligne { background-color: #bde500; }

/* lien "action" */
a.action { 
	font: 12px/18px "Lucida Grande","Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff; background-color: #78001a;
	padding: 3px;
	border-radius: 4px;
	-webkit-border: 4px;
	-moz-border-radius: 4px; }
a.action:hover { color: #c00; background-color: #000; }

/* accessibilité */
.accessibilite { display:none; }

/* surcharge css boutons admin à partir de la surcharge tetue-trousse */
#spip-admin { float: left; right: auto !important; left: 5px !important;}
	#spip-admin a { xfloat: none; xmargin-bottom: .5em; }
