/* ------------------------------------ */
/*  Site : CFCPI                        */
/*  URL : www.cfcpi.fr                  */
/*  Auteur : christophe le drean        */
/*  Date :                              */
/*  Version : 2                         */
/* ------------------------------------ */

/* ------------------------------------ */
/*  Table des matières                  */
/* ------------------------------------ */
/*  - Reset
    - Réglage des float
    - Maquette des pages
    - Liens (réglages général)
    - Typo générale
    - Entete
    - Menus
    - Formulaires
    - Habillage : ombres

*/

/* ------------------------------------ */
/*  Reset                               */
/* ------------------------------------ */
/*  http://meyerweb.com/eric/thoughts/
    2007/05/01/reset-reloaded/          */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0;
	border: 0; outline: 0;
	font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit;
	vertical-align: baseline; }

/* remember to define focus styles! */
:focus {  }

body {
	color: black;
	background: white; }

ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0; }

caption, th, td {
	text-align: left;
	font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; }

blockquote, q { quotes: "" ""; }

/* ------------------------------------ */
/*  Réglage des float                   */
/* ------------------------------------ */
/*	voir : 
	http://www.positioniseverything.net/easyclearing.html 
	+ modif http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack
*/

.clearfix:after { visibility: hidden; clear: both; display: block; height: 0; font-size: 0; content: " "; }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* ------------------------------------ */
/*  Maquette des pages					*/
/* ------------------------------------ */

/* grille */
/*	1 : 60		7 : 540		*/
/*	2 : 140		8 : 620		*/
/*	3 : 220		9 : 700		*/
/*	4 : 300		10 : 780	*/
/*	5 : 380		11 : 860	*/
/*	6 : 460		12 : 940	*/

/* règles communes */

body { 
	background: #000 url(../img/body-background.jpg) repeat-x left top;
	color: #000;
	margin: 0; }

	#page { 
		color: #fff; background-color:#2c0046;
		position: relative;
		overflow: visible;
		margin: 4.5em auto; padding-bottom: 20px; 
		width: 960px;
		border-radius: 8px 0 0 8px;
		-webkit-border-top-left-radius: 8px; 
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius: 8px 0 0 8px; }
	
		#entete { padding: 1.5em 0 0 20px; }
		
		#conteneur {
			color: #000; background-color: #fff;
            xmargin-top: 4.5em; margin-left: 60px; padding-top: 2.8em; 
            width: 980px;
            position: relative;
            border-radius: 0 8px 8px 0;
            -webkit-border-top-right-radius: 8px; 
            -webkit-border-bottom-right-radius: 8px; 
            -moz-border-radius: 0 8px 8px 0; }
            
            #contenu { 
            	margin-right: 20px;
            	float: right;
            	width: 780px; }
            	
            	.titre { 
            		float: right;
            		width: 780px; }
            
            	.contenu_principal { width: 540px; }
            	
            		#hierarchie { clear: both; }
            	
            	#extra { 
            		display: inline; float: right;
            		width: 220px; }
            
            #navigation { 
            	float: left;
            	width: 160px; }

/* règles spécifiques */
.page_article .contenu_principal {
	float: left; }

/* ------------------------------------ */
/*  Liens (réglages général)			*/
/* ------------------------------------ */
a { color: #a1001a; text-decoration: none; }
a:visited { }
a:hover { color: #80c; text-decoration: underline; outline: none; }
a:active {  }
a:active, a:focus { position: relative; top: 1px; outline: none; }


/* ------------------------------------ */
/*  Typo								*/
/* ------------------------------------ */

/* générique */
html { font-size: 100.01%; /* pour IE */ }
body { font: 0.75em/1.5 Georgia, "Times New Roman", Times, serif; /* corps : 12px/18px */ }

/* Titraille */
h1,h2,h3,h4,h5,h6, #nav ul li, #navigation, .surtitre, .soustitre  { font-family: "Museo Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal; }
h1 { font-size: 2.333em; /*28px */ line-height: 1.285em; margin: 0; }
.a-cote h3 { font-size: 1.08em; /*14px*/ line-height: 1.38em; }

/* texte  */
p { margin-bottom: 1.5em; }
strong { font-weight: bold; }
em { font-style: italic; }
abbr, acronym { border-bottom: 1px dotted; cursor: help; }
small { font-size: 0.90em; color: #666; }
dfn { font-weight: bold; color: #666; }
del { text-decoration: line-through; }
ins { color: red !important; text-decoration: none; }
sup, sub { font-size: .8em; font-variant: normal; }

/* spécifique */
.contenu_principal p {
	font-size: 1.1667em; line-height: 1.2857em;
	margin-bottom: 1.2857em;
	text-align: justify; }

/* ------------------------------------ */
/*  Entete								*/
/* ------------------------------------ */

/* raccourcis */
#raccourcis { position: absolute; top:-1.5em; right: 0; }
	#raccourcis li {
		font: 9px/11px "Lucida Grande","Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		float: left;
		margin: .2em 0 0 5px; padding-left: 5px;
		border-left: 1px solid #a4c700; }
	#raccourcis li:first-child { border-left: 0; }
		#raccourcis a { color: rgb(189,229,0); }
		#raccourcis a:hover { color: rgb(210,255,0); }


/* logo */
#logo { margin-left: 40px; }
	#logo h1, #logo a {
		text-indent: -9999px;
		color: #fff; 
		display: block;
		height: 54px; width: 700px; }
	
	#logo a { top: 0; }

/* ------------------------------------ */
/*  Menus								*/
/* ------------------------------------ */

/* Menu principal */
#nav { margin: 1.5em 0 0 80px; }
	
	#nav ul li { 
		float: left;
		position: relative; z-index: 999;
		margin-right: 4px; padding: 0 4px 0; }
	
	#nav li.on > a { background: url(../img/navigation-hover-active-blanc.png) no-repeat center bottom; }
	
	#nav li.over { 
		background-color: #4f007e; }
	
	#nav li span.dropdown {
    		cursor: pointer;
    		background: #2c0046 url(../img/ui-icons_888888_256x240.png) no-repeat -66px -17px;
    		border: 1px solid #2c0046;
    		height: 14px; width: 14px;
    		margin: 3px 0 0 3px; }
		
		#nav ul ul { 
			background-color: #4f007e;
			display: none;
			position: absolute; top: 2em; left: 0; z-index: 999; }
			
			#nav ul ul li {
				border-bottom: 1px solid #6800a7;
				min-width: 200px; 
				margin-right: 0;
				padding: 2px 2px 4px 4px; }
			
			#nav ul ul li:hover {
				background-color: #80c/*#6800a7*/; background-image: none; }
		
				#nav li a { 
					color: #fff; text-decoration: none;
					height: 2em; }
		
				#nav li a:hover { 
					text-decoration: underline;
					background: url(../img/navigation-hover-active-blanc.png) no-repeat center bottom; }
		
				#nav li li a { height: auto; } 
		
				#nav li a, #nav li span.dropdown {
					display: block;
					float: left; }
			
			#nav li span.over {
				border: 1px solid #2c0046; border-color: #2c0046 #6800a7 #6800a7 #2c0046; }
				
	#nav li.over a:hover, #nav li li.on a, #nav li li a:hover {
					background-image: none; }

/* Menu local */
#navigation {  }
	#navigation ul {  }
		#navigation li {  }
		#navigation li.on { font-weight: normal; }
			#navigation li a {
				color: #bababa;
				display: block;
				margin: 0 0 2px; padding-left: 10px; }
				#navigation li a span {
					display: block;
					padding: 0 2px 2px;
					border-bottom: 1px solid #eee; }
				#navigation li a:hover {
					color: #80c;
					text-decoration: none;
					background: url(../img/navigation-locale-hover-active.png) no-repeat left center; }
			#navigation li.on > a {
				color: #4f007e;
				background: url(../img/navigation-locale-hover-active.png) no-repeat left center; }
				#navigation li.on > a span { border-bottom-color: #4f007e; }
				#navigation li li > a { padding-left: 14px; }
					#navigation li li li > a { padding-left: 18px; }
						#navigation li li li li > a { padding-left: 22px; }

/* ------------------------------------ */
/*  Contenu								*/
/* ------------------------------------ */
/* Articles */
.titre { margin-bottom: 3em; }

	.titre h1 { color: #BC1E20; line-height: 1em; margin-bottom: .2em; margin-top: .08em; }

	.titre .surtitre, .titre .soustitre { 
		color: #600099;
		font-size: 14px; line-height: 1.2857em;
		text-transform: uppercase;
		margin-bottom: 0; }

	.titre .soustitre { 
		font-size: 15px;
		text-transform: none; }

	.info-publi {
		color: #ccc;
		font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
		margin: 1.5em 0 0 560px; }
	
	.info-publi abbr { color: #4f007e; }

.chapo {  }
	.chapo p { color: #4f007e; }

.texte {  }
	.texte xh2 { font-size: 1.5em; line-height: 1em; margin-bottom: .9em; }

.ps { background-color: #f8f8f8; padding: .2em 5px 1.2857em; }
	.ps h2 {
		font-size: 1.5em; line-height: 1em;
		color: #4f007e;
		margin: .45em 0 .45em; }
	.ps p {
		margin-bottom: 0 ; }
/* UI-tabs (JQuery) */

/* original */
.ui-tabs { padding: .2em; zoom: 1; }
.ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { position: relative; float: left; border-bottom-width: 0 !important; margin: 0 .2em -1px 0; padding: 0; }
.ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; padding: .5em 1em; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 1px; border-bottom-width: 0; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {  }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { padding: 1em 1.4em; display: block; border-width: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }

/* personnalisé */
.ui-tabs { 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 1.6em 0 0;
	background: url(../img/background-rayures-noir_violet-degrade.png) repeat-x 0 -20px;
	border-radius: 2px 0; 
	-webkit-border-top-left-radius: 2px; 
	-webkit-border-top-right-radius: 2px; 
	-moz-border-radius: 2px 2px 0 0; }

	.ui-tabs .ui-tabs-nav {
		border-bottom: 1px solid #50206d;
		margin: 0 2px; padding: 0 0 0 5px; }
	
		.ui-tabs .ui-tabs-nav li {
			border: 1px solid #50206d;
			border-radius: 2px 0; 
			-webkit-border-top-left-radius: 2px; 
			-webkit-border-top-right-radius: 2px; 
			-moz-border-radius: 2px 2px 0 0; }
		
		.ui-tabs .ui-tabs-nav li.ui-state-default {
			background: #600099 url(../img/tabs-defaut-background.png) repeat-x left bottom;}
	
		.ui-tabs .ui-tabs-nav li.ui-state-hover {
			background-color: #8234b1; background-image: none; }
		
		.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
			border-color: #50206d;
			background-color: #fff;
			background-image: none; }
	
			.ui-tabs .ui-tabs-nav li a {
				color: #fff;
				padding: 0 5px .4em; }
				
			.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
				color: #4f007e; }

	.ui-tabs .ui-tabs-panel {
		background-color: #fff;
		border: 1px solid #50206d; border-top-width: 0; border-bottom-width: 0; 
		padding: 1.1em 5px 0 10px; margin: 0 2px }
		
		.ui-tabs-panel dl { 
			width: 199px;
			margin-bottom: .7em; }
		
			.ui-tabs-panel dt {
				border-bottom: 1px solid #eee;
				padding-top: .4em;
				padding-bottom: .4em; }
			
		.ui-tabs-panel dl.document {
			border-bottom:	1px solid #eee;
			padding-bottom: .7em; }
			
			.ui-tabs-panel dl.document dt {
				float: left;
				margin-right: 7px; padding-bottom: 0; }
				
				.ui-tabs-panel dl.document dt a {
					display: block;
					border: 1px solid #eee; }
				
				.ui-tabs-panel dl.document dt a:hover {
					background-color: #80c;
					border-color: #80c; }
			
			.ui-tabs-panel dl.document dd {
				color: #bababa;
				float: right;
				width: 138px; }
				
				.ui-tabs-panel dl.document dd h3 {
					font-size: 12px; line-height: 18px; }
				
			.ui-tabs-panel dl.document dd span {
				border-top: 1px dotted #eee; }

/* Pétition */
	/* formulaire voir plus bas */
	
	/* compteur signatures */
p.signatures_compteur {
	text-align: right;
	margin: .7em 1px 0 0; }
	
	.signatures_compteur a.action { 
		border-radius: 4px 0;
		-webkit-border-top-left-radius: 4px; 
		-webkit-border-top-right-radius: 4px; 
		-moz-border-radius: 4px 4px 0 0; }

/* lien "action" */
a.action { 
	font: 11px/18px "Lucida Grande","Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff; background-color: #690000;
	padding: 3px;
	border-radius: 4px;
	-webkit-border: 4px;
	-moz-border-radius: 4px; }

a.action:hover { color: #9e00ed; background-color: #2c0046; }

	/* signatures */
#signatures { margin-top: 2em; margin-bottom: 2em; }
	
	#signatures h2 {
		text-align: center;
		font-size: 1.5em; line-height: 1em;
		color: #4f007e; }
	
	#signatures p.signer {
		text-align: right;
		margin: 0 0 1em; }

#signatures table.spip { 
	font: .92em/1.6363em "Lucida Grande","Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 1px solid #eee; border-width: 1px 0;
	margin: 0;
	width: 100%; }
	
	#signatures table.spip tr.row_first {
		background-color: #eee; }
	
	#signatures table.spip tr.row_even {
		background-color: #fff; }
	
	#signatures table.spip tr.row_odd {
		background-color: #eee; }
		
		#signatures table.spip th, #signatures table.spip td {
			border: 1px solid #eee; border-width: 0 1px;}


/* ------------------------------------ */
/*  Pagination							*/
/* ------------------------------------ */
p.pagination { 
	font: 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: right;
	color: #999; }
p.pagination.haut { margin: 0 0 .2857em; }
p.pagination.bas { margin: .2857em 0 1em; }
	p.pagination strong { 
		color: #000;
		font-size: 12px; }

/* ------------------------------------ */
/*  Formulaires							*/
/* ------------------------------------ */

/* paramètres communs */
fieldset {  }
input { font-family: "Lucida Grande","Helvetica Neue", Helvetica, Arial, sans-serif; }

/* surcharge spip_formulaires */
.formulaire_spip .boutons { margin-bottom: 1.5em; }

/* recherche */
#formulaire_recherche { position: absolute; top: -3.9em; right: 0; }
	#formulaire_recherche label { display: none; }
	#formulaire_recherche input {
		background-color: #92b100;
		border: 1px solid rgba(189,229,0,0.2) }
	#formulaire_recherche input[type="text"] { 
		color: rgb(210,255,0);
		background: #92b100 url(../img/icone_recherche.png) no-repeat 1px -1px;
		width: 15em; }
	#formulaire_recherche input[type="submit"] { color: rgb(189,229,0); font-size: 10px; }
	#formulaire_recherche input[type="text"]:focus { border-color: rgb(210,255,0); }
	#formulaire_recherche input[type="submit"]:hover { 
		color: rgb(210,255,0);
		border-color: rgb(210,255,0); }
	#formulaire_recherche input[type="submit"]:active {
		border-style: inset; outline: none; }

/* formulaire signature pétition */
.petition {
	background: url(../img/background-rayures-noir_rouge-degrade.png) repeat-x left top;
	padding: 1.5em 2px 0;
	border-radius: 2px 0; 
	-webkit-border-top-left-radius: 2px; 
	-webkit-border-top-right-radius: 2px; 
	-moz-border-radius: 2px 2px 0 0; }
	
	.petition h3 {
		color: #fff;
		text-transform: uppercase;
		margin: 0 5px 0; }
	
	.petition .formulaire_signature {
		background-color: #fafafa;
		border: 1px solid #800014; border-bottom-width: 0;
		padding: 0 5px; }
		
		.petition form { border-bottom:	1px solid #eee; }
		
			.petition fieldset { 
				margin: .7em 0 0; }
				
				.petition fieldset legend { 
					font: 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
					color: #800014; background-color: transparent;
					font-weight: bold; text-transform: uppercase;
					border-bottom: 1px solid #800014; }
				
				.petition li {
					opacity: .6; }
				
				.petition li.obligatoire {
					opacity: 1; }
				
				.petition label {
					font: 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
					color: #000; }
					
				.petition input.text, .petition textarea {
					border: 2px solid #eaeaea; }
				
				.petition input:focus, .petition textarea:focus { border: 1px solid #990017; }

/* ------------------------------------ */
/*  Habillage : ombres                  */
/* ------------------------------------ */
.ombre005 {
	box-shadow: 0 0 5px #333;
	-webkit-box-shadow: 0 0 5px #333;
	-moz-box-shadow: 0 0 5px #333; }
	
/* ------------------------------------ */
/*  Divers								*/
/* ------------------------------------ */

/* accessibilité */
.accessibilite { display:none; }

/* surcharge css boutons admin */
#spip-admin { margin-top: 4.5em; }
	#spip-admin a { float: none; margin-bottom: .5em; }
