.formulaire_cfcpi form { border-bottom: 0; padding-bottom: 0; }
.formulaire_spip ul li { width: 100%; }

.quiSommesNous ul.liens { border-bottom: 0; padding-bottom: 0; }
.ui-tabs .ui-tabs-panel { padding-bottom: 0; }
#extra .liste li.hentry, .secondaire .liste li.hentry { padding-bottom: 0; }

#formulaire_recherche {  }
	#formulaire_recherche input { border: 1px solid #bee500}
	#formulaire_recherche input.text { color: #d2ff00; }
	#formulaire_recherche input.submit { color: #bee500; border-color: #bee500;  }
	#formulaire_recherche input.text:focus { border-color: #d2ff00; }
	#formulaire_recherche input.submit:hover { color: #d2ff00; background-color: #92b100; border-color: #d2ff00; }